# Eclipse
/.classpath
/.project
/.settings

# Netbeans
/nbproject

# We use maven!
/build.xml

# Maven
/target
dependency-reduced-pom.xml

# Vim
.*.sw[a-p]

# Various other potential build files
/build
/bin
/dist
/manifest.mf

# Music, license, and login files
/music
license.jar
login2.txt

# Mac filesystem dust
.DS_Store

# IntelliJ
*.iml
*.ipr
*.iws
.idea/